# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/engine/engine/Debug/engine.tlog
/engine/engine/x64/Debug/engine.tlog
/engine/engine/x64/Debug
/engine/engine/Debug
/engine/ipch/ENGINE-6b67ee8f
/engine/x64/Debug
*.vcxproj
*.filters
*.user
/engine/Debug/engine.pdb
/engine/.vs/engine/v14/.suo
/engine/engine.VC.VC.opendb
/engine/engine.VC.db
/JacksEngine/Debug
/JacksEngine/.vs/JacksEngine/v14
*.opendb
*.db
/JacksEngine/JacksEngine/x64/Debug
/JacksEngine/x64/Debug
